@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    --background: #1f211f;
    --foreground: #f9faf9;
    --card: #2f3a2f;
    --card-foreground: #d9d9d9;
    --popover: #2f3a2f;
    --popover-foreground: #d9d9d9;
    --primary: #5cb85c;
    --primary-foreground: #ffffff;
    --secondary: #8fb98b;
    --secondary-foreground: #2f3a2f;
    --muted: #3c483c;
    --muted-foreground: #9ea99e;
    --accent: #8fb98b;
    --accent-foreground: #2f3a2f;
    --destructive: #d9534f;
    --destructive-foreground: #fafafa;
    --card-background: #212820;
    --border: #5cb85c;
    --input: #3c483c;
    --ring: #5cb85c;
    --radius: 0.65rem;
    --chart-1: #e8f0e8;
    --chart-2: #5cb85c;
    --chart-3: #3a5d3a;
    --chart-4: #9dd79d;
    --chart-5: #6c9c6c;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
